.equipment {
  padding: 120px 8%;
  background: #F8FAFC;
}

.equipment-title {
  text-align: center;
  max-width: 750px;
  margin: auto;
}

.equipment-title span {
  color: #005A9C;
  font-weight: 700;
  letter-spacing: 2px;
}

.equipment-title h2 {
  font-size: 42px;
  color: #003B67;
  margin-top: 20px;
}

.equipment-title p {
  margin-top: 20px;
  color: #64748B;
  line-height: 1.8;
}

/* GRID */

.equipment-grid {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.equipment-card {
  overflow: hidden;
  border-radius: 25px;
  background: white;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .08);
}

.equipment-image {
  height: 350px;
  position: relative;
  overflow: hidden;
}

.equipment-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s;
}

.equipment-card:hover img {
  transform: scale(1.1);
}

.equipment-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(transparent, rgba(0, 59, 103, .95));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  color: white;
}

.equipment-overlay h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.equipment-overlay p {
  font-size: 14px;
  line-height: 1.6;
  color: #E5F5FF;
}

@media (max-width: 1000px) {
  .equipment-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .equipment {
    padding: 90px 6%;
  }

  .equipment-title h2 {
    font-size: 32px;
  }

  .equipment-grid {
    grid-template-columns: 1fr;
  }

  .equipment-image {
    height: 300px;
  }
}
